/* BELOW 1344px */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 8.6rem;
  }

  .hero-tagline {
    font-size: 2.4rem;
  }

  .hero-description {
    font-size: 3.6rem;
  }
}
/* BELOW 1200px */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .step-description {
    font-size: 1.7rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .feedback-form {
    width: 70%;
  }
}

/* BELOW 1040px */
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }

  .hero-img {
    width: 50%;
  }

  .names-persons {
    gap: 10%;
  }

  .block-persons {
    font-size: 1.6rem;
    text-align: center;
  }

  .box-steps-plot {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .box-steps-plot .step-img-box:nth-child(3) {
    grid-row: 4 / 5;
  }

  .step-img {
    width: 60%;
  }

  .profile-card {
    min-width: 276px;
    max-height: 362px;
  }

  .prototype-description {
    padding: 0 1rem;
  }

  .features {
    justify-content: space-between;
  }

  .card-features {
    width: 31%;
    max-width: 233px;
  }

  .feedback-form {
    width: 85%;
  }

  /* MOBILE NAVIGATION (BELOW 1040px) */

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .close {
    display: block;
  }

  .nav-open .btn-mobile-nav {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav-open .menu {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* BELOW 704px */

@media (max-width: 44em) {
  .section-hero {
    padding: 4.8rem 0 8rem 0;
  }

  .hero {
    gap: 5.4rem;
  }

  .section-persons {
    padding: 8rem 0;
  }

  .img-persons {
    margin-bottom: 3rem;
  }

  .names-persons {
    position: static;
    gap: 1.6rem;
  }

  .name-persons {
    padding: 1.5rem 2rem;
    border: 1px solid #666;
  }

  .section-plot {
    padding: 8rem 0;
  }

  .heading-secondary {
    margin-bottom: 3.2rem;
  }

  .section-prototype {
    padding: 8rem 0;
  }

  .grid-1 {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .profile-card {
    width: 50%;
    max-height: none;
    transform: none;
    justify-self: center;
    min-width: 300px;
  }
}

/* BELOW 544px */

@media (max-width: 34em) {
  .features {
    flex-direction: column;
    justify-content: center;
  }

  .card-features {
    max-width: none;
    min-width: 232px;
  }
}
