/* BELOW 1344px */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 8.6rem;
  }

  .hero-tagline {
    font-size: 2.4rem;
  }

  .hero-description {
    font-size: 3.6rem;
  }
}
/* BELOW 1200px */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .step-text {
    font-size: 1.7rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .feedback-form {
    width: 70%;
  }
}

/* BELOW 1040px */
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }

  .hero-text-box span:nth-child(6) {
    margin-right: 0;
  }

  .hero-img {
    width: 50%;
  }

  .names-persons {
    gap: 10%;
  }

  .block-persons {
    font-size: 1.6rem;
    text-align: center;
  }

  .steps-plot {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .steps-plot .step-img-box:nth-child(3) {
    grid-row: 4 / 5;
  }

  .step-img {
    width: 60%;
  }

  .profile-card {
    width: 276px;
    height: 356px;
  }

  .prototype-description {
    padding: 0 1rem;
  }

  .features {
    justify-content: space-between;
  }

  .card-features {
    width: 31%;
    max-width: 233px;
  }

  .feedback-form {
    width: 85%;
  }

  /* MOBILE NAVIGATION (BELOW 1040px) */

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .close {
    display: block;
  }

  .nav-open .btn-mobile-nav {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav-open .menu {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* BELOW 704px */

@media (max-width: 44em) {
  .section-hero {
    padding: 4.8rem 0 8rem 0;
  }

  .hero {
    gap: 5.4rem;
  }

  .section-persons {
    padding: 8rem 0;
  }

  .img-persons {
    margin-bottom: 3rem;
  }

  .names-persons {
    position: static;
    gap: 1.6rem;
  }

  .name-persons {
    padding: 1.5rem 2rem;
    border: 1px solid #666;
  }

  .section-plot {
    padding: 8rem 0;
  }

  .heading-secondary {
    margin-bottom: 3.2rem;
  }

  .section-prototype {
    padding: 8rem 0;
  }

  .box-prototype {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .profile-card {
    width: 50%;
    height: auto;
    transform: none;
    justify-self: center;
    min-width: 260px;
  }

  .section-features {
    padding: 8rem 0;
  }

  .features {
    flex-direction: column;
    justify-content: center;
    gap: 4.8rem;
  }

  .card-features {
    max-width: none;
    min-width: 232px;
  }

  .section-trailer {
    padding: 8rem 0;
  }

  .section-feedback {
    background-image: url(../img/the-terminal-movie-feadback-w704px.webp);
    background-size: cover;
    background-position: top;
    padding: 8rem 0;
  }

  .section-feedback .heading-secondary {
    width: 295px;
  }

  .feedback-form {
    width: 100%;
  }

  .section-feedback p {
    font-size: 2rem;
    line-height: 1.5;
  }

  .feedback-form label {
    color: #fff;
  }

  .footer {
    margin-top: 8rem;
  }

  .footer .container-1200 {
    gap: 8rem;
  }
}

/* BELOW 544px till w-320px & h-568px (Apple iPhone 5, SE 1-st ed)*/

@media (max-width: 34em) {
  .section-hero {
    padding: 3.2rem 0 6.4rem 0;
  }

  .hero {
    gap: 3.2rem;
  }

  .hero-tagline {
    margin-bottom: 1.6rem;
  }

  .heading-primary {
    font-size: 6.2rem;
    margin-bottom: 1.2rem;
  }

  .hero-text-box span:nth-child(n + 3) {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 2.4rem;
    margin-top: 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .section-persons {
    padding: 6.4rem 0;
  }

  .subheading {
    font-size: 1.2rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }

  .names-persons {
    grid-template-columns: 1fr;
  }

  .name-persons {
    width: 60%;
    padding: 1rem 1rem;
  }

  .name-persons:first-child {
    justify-self: left;
  }

  .name-persons:nth-child(2) {
    justify-self: center;
  }

  .name-persons:last-child {
    justify-self: right;
  }

  .section-plot {
    padding: 6.4rem 0;
  }

  .steps-plot {
    padding: 0;
  }

  .step-text-box span {
    display: none;
  }

  .heading-tertiary {
    font-size: 2rem;
  }

  .step-text {
    font-size: 1.6rem;
  }

  .step-img {
    width: 85%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 7.4rem !important;
    height: 7.4rem !important;
    border: 2px solid #333;
    top: unset;
    bottom: -9rem;
  }

  .carousel-control-next {
    transform: translate(-70%, 0);
  }

  .carousel-control-prev {
    transform: translate(70%, 0);
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .section-gallery {
    padding: 8rem 0 14.4rem 0;
  }

  .carousel-control-next:focus,
  .carousel-control-prev:focus {
    box-shadow: 0 0 0 0.5rem #ffca82;
  }

  .section-feedback {
    background-image: linear-gradient(
        rgba(121, 40, 31, 0.8),
        rgba(121, 40, 31, 0.8)
      ),
      url(../img/the-terminal-movie-feadback-w544px.webp);
    background-position: center;
  }

  .section-feedback .heading-secondary,
  .section-feedback .subheading {
    text-align: center;
  }

  .section-feedback .heading-secondary,
  .section-feedback p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-feedback p:nth-child(4) {
    margin-bottom: 3.2rem;
  }

  .feedback-form {
    grid-template-columns: 1fr;
    width: 85%;
    margin: auto;
  }

  .feedback-form div:last-child {
    grid-column: initial;
    grid-row: initial;
  }

  .footer {
    padding: 9.6rem 0;
  }

  .footer .container-1200 {
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
    padding: 0 4.8rem;
  }

  .logos-footer {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .links-extra-info {
    justify-self: center;
  }
}
